<%- include('partials/header', { title: 'Jokes Message Board' }) %>
<main>
  <% arrayOfJokes.forEach((Joke) => { %>
    <div class="Joke-Container">
      <h3><%= Joke[1] %></h3>
      <p><%= Joke[2] %></p>
      <p class="date"><%= Joke[3] %></p>
      <form class="special" action="/open" method="post">
        <input type="hidden" name="locationID" value="<%=Joke[0]%>">
        <button>Open</button>
      </form>
    </div>
  <% }) %>
</main>
<%- include('partials/footer') %>